 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Recipe Finder</title>
      {% load static %}
    </head>

    <body>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Recipe Finder</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/reset">Reset</a></li>
            <li><a href="#">Add new recipe</a></li>
          </ul>
        </div>
      </nav>
      <div class="row">
      <form class="col s12" action='/add_ingredient' method='post'>
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s6">
            <input id="input_text" type="text" data-length="10" name='ingredient'>
            <label for="input_text">Ingredient:</label>
          </div>
        </div>
        <button type='submit' class="waves-effect waves-light btn">Add</button>
      </form>
    </div>
    {% if request.session.ingredients_list %}
      <table>
          <thead>
            <tr>
                <th>Your ingredients:</th>
            </tr>
          </thead>

          <tbody>
            {% for ingredient in request.session.ingredients_list%}
              <tr>
                <td>{{ingredient}}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      {% endif %}
      {% if request.session.cards_list %}
        <div class="row valign-wrapper">
        {% for card in request.session.cards_list %}
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src={{card.image}}>
                  <span class="card-title">{{card.title}}</span>
                </div>
                <div class="card-content">
                  <h5>Additional ingredients:</h5>
                  <ul>
                    {% for ingredient in card.additionalIngr %}
                      <li>{{ingredient}}</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="card-action">
                  <a href={{card.url}}>Link</a>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
      {% endif %}
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="{% static 'js/index.js' %}"></script>
    </body>
  </html>